section-06/cache/*
section-07/cache/*
section-08/cache/*
section-09/cache/*
section-10/cache/*
section-11/cache/*
section-12/cache/*
section-13/cache/*
section-06/figure/*
section-07/figure/*
section-08/figure/*
section-09/figure/*
section-10/figure/*
section-11/figure/*
section-12/figure/*
section-13/figure/*
*.tikz
*.sty
*.pyg
*.DS_Store
*.Rhistory
*.tex
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
.Rproj.user
